{% extends 'base.html'%}
{% block self_head_css_js %}
    <link rel="stylesheet" href="/static/js/data-tables/DT_bootstrap.css" />
    <link rel="stylesheet" href="/static/sweetalert/sweetalert.css" />
{% endblock %}

{% block content %}
<!-- page heading start-->
<div class="page-heading">
	<h3>
	域名管理
	</h3>
	<ul class="breadcrumb">
		<li>
			<a href="/">首页</a>
		</li>
		<li class="active"> 域名管理 </li>
	</ul>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    域名管理
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                     </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table editable-table ">
                        <div class="clearfix">
                            <div class="btn-group">
                                <button id="tjym" class="btn btn-primary">
                                    <a href="{% url 'domain_add' %}">添加域名 <i class="fa fa-plus"></i></a>
                                </button>
                            </div>
                            <div class="btn-group pull-right">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">Print</a></li>
                                    <li><a href="#">Save as PDF</a></li>
                                    <li><a href="#">Export to Excel</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="space15"></div>
                            <table class="table  table-hover general-table" id="editable-sample">
                                <thead>
                                <tr>
                                    <th> 域名</th>
				    <th> 描述</th>
                                    <th> 操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for domain in domain_obj %}
                                <tr>
                                    <td>
                                        <a href="{% url 'record_show' domain.id %}">
                                            {{ domain.name }}
                                        </a>
                                    </td>
				    <td>{{ domain.memo }}</td>
									<td>
                                        <button class="btn btn-primary" onclick="DeleteDomain('{% url 'domain_delete' domain.id %}')">
                                            删除
                                        </button>
									</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
	<!--body wrapper end-->

{% endblock %}

{% block self_footer_js %}
<!--data table-->
<script type="text/javascript" src="/static/js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/js/data-tables/DT_bootstrap.js"></script>
<script src="/static/js/data-tables/editable-table.js"></script>
<script src="/static/sweetalert/sweetalert.min.js"></script>
<script>
       jQuery(document).ready(function() {
        EditableTable.init();
    });
function DeleteDomain(url_path){
    swal({
        title: "删除域名",
        text: "删除域名同时会将该域名下所有记录删除，确定要删除吗?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "是的,我要删除",
        closeOnConfirm: false
    }, function(){
        $.ajax({
            type: 'GET',
            url: url_path,
            success: function(callback){
                var callback = $.parseJSON(callback);
                if(callback.status){
                    window.location.reload();
                }else{
                    swal("删除失败", callback.error, "error");
                }
            }
        })

    });
}


</script>


{% endblock %}
